html,body {
    width:100%;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  max-width: 100%;
}
table td {
  border: 1px solid black;
  box-sizing: content-box;
}

table.hidden-rows tr:nth-child(4n+1),table#messages tr:nth-child(4n+2) {
	background-color: #F3F5F7;
}

td pre {
    box-sizing: content-box;
    white-space: pre-wrap;
/*    overflow: scroll;*/
    margin: 0px;
    height: 100%;
    max-height: 20em;
    width: 100%;
    padding: 4px;
}
table#keyValueTable tr:nth-child(2n+1) {
	background-color: #F3F5F7;
}

.scrollable {
	height: 50%;
	width: 100%;
	overflow: scroll;
}

.expander {
	font-weight: bold;
	font-size: large;
	border: 1px solid blue;
}

tr.packet {
	display:none;
}

.hidden {
	display: none;
}

span.address {
	text-decoration: underline;
	color: blue;
}

.participantTable td {
	width: 33%;
}