<div class="container-fluid">
    <div class="col-sm-12">
        <h3>API Endpoints</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <th>Resource</th>
            <th>Rel. Link</th>
            <th>Path</th>
            </thead>
            <tbody>
            <tr>
                <td>Root</td>
                <td></td>
                <td><a class="link-cursor" ng-click="endpointClicked(ozpIwc.config.apiRootUrl)">{{ozpIwc.config.apiRootUrl}}</a>
                </td>
            </tr>
            <tr ng-repeat="endpoint in endpointTabulated">
                <td>{{endpoint.name}}</td>
                <td>{{endpoint.rel}}</td>
                <td><a class="link-cursor" ng-click="endpointClicked(endpoint.path)">{{endpoint.path}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>