<form class="form-inline">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn" ng-class="{true:'btn-danger',false:'btn-primary'}[updateActive]"
             btn-checkbox ng-model="updateActive"
             tooltip-placement="bottom" tooltip="Start/Stop continuous metrics updates.">
            {{ updateActive ? 'Enabled' : 'Disabled' }}({{metricsActive}})
        </button>
        <button class="btn btn-primary" ng-click="refresh()">Gather</button>
        <button class="btn btn-primary" ng-click="$broadcast('timeSeriesClear')"
                tooltip-placement="bottom" tooltip="Clear the timeline.">
            Clear
        </button>
      </span>
      </div>
      <div class="form-group">
        <select ng-model="updateFrequency" tooltip-placement="bottom" class="form-control"
                tooltip="How often to update the metrics.">
            <option value="1000">Every second</option>
            <option value="2000">Every 2 seconds</option>
            <option value="5000">Every 5 seconds</option>
            <option value="15000">Every 15 seconds</option>
        </select>
        </div>
      <div class="form-group">
        <label for="packetFilter" style="margin-left: 10px;">Filter:</label>
        <input ng-model="viewFilter" type="text" size="40" class="form-control"
               placeholder="filter metrics..." id="packetFilter"
               tooltip-placement="bottom" tooltip="Search for metric...">
        </input>
      </div>
    <div class="btn-group">
    <button class="btn btn-primary" ng-click="selectAllFilteredItems(true)">Select Filtered</button>
    <button class="btn btn-primary" ng-click="selectAllFilteredItems(false)">Deselect Filtered</button>
</div>
</form>
<div class="container-fluid appView">
    <div  class="col-md-3"  style="height:100%; margin-bottom:25px;">
        <label for="metricList">Metrics</label>
        <div id="metricList" style="padding: 0px;height:100%; font-size: 0.7em; overflow:scroll;">
            <label ng-repeat="metric in metrics | orderBy:'name' | filter:viewFilter" style="white-space: nowrap; display: block;">
                <input type="checkbox" ng-model="metric.visible">
                   {{::metric.name}}
            </label>
        </div>
    </div>

    <div class="col-md-9" style="padding:0px;height:100%;" >
        <label for="timeline">Timeline</label>
        <time-series id="timeline" metrics="metrics"></time-series>
    </div>
</div>

<!--            <table>
    <thead>
        <tr>
            <td>Metric</td>
            <td>Unit</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="metric in metrics | orderBy:'name' | filter:viewFilter">
            <td>{{::metric.name}}</td>
            <td>{{::metric.unit}}</td>
            <td><pre>{{metric.value | json}}</pre></td>
        </tr>
    </tbody>
</table>-->