html,body {
    width:100%;
    height: 100%;
}

.traffic-snooper-table {
  border-collapse: collapse;
  border: 1px solid black;
}


table {
  /*padding-top: 15px;*/
  margin-top: 15px;
  /*border-collapse: collapse;*/
  /*border: 1px solid black;*/
  width: 100%;
  max-width: 100%;
}
table td {
  /*border: 1px solid black;*/
  box-sizing: content-box;
}

.td-compact td {
    border-collapse: collapse;
    white-space: nowrap;
    margin-right: 5px;
    font-size: 0.9em;
}


table.hidden-rows tr:nth-child(4n+1),table#messages tr:nth-child(4n+2) {
	background-color: #F3F5F7;
}

td pre {
    box-sizing: content-box;
    white-space: pre-wrap;
/*    overflow: scroll;*/
    margin: 0px;
    height: 100%;
    max-height: 20em;
    width: 95%;
    max-width: 60em;
    padding: 4px;
}
table#keyValueTable tr:nth-child(2n+1) {
	background-color: #F3F5F7;
}

.scrollable {
	height: 50%;
	width: 100%;
	overflow: scroll;
}

.expander {
	font-weight: bold;
	font-size: large;
	border: 1px solid blue;
}

tr.packet {
	display:none;
}

.hidden {
	display: none;
}

span.address {
	text-decoration: underline;
	color: blue;
}

.participantTable td {
	width: 33%;
}

.form-horizontal .control-label{
text-align:left;
}

#side-wrap {
    position: fixed;
    z-index: 10;
    height: 100%;
    background: #2b3036;
    width: 125px;
    overflow:hidden;
}

.side-nav {
    position: fixed;
    width: 125px;
    top: 0;
    left: 0;
    margin-top: 15px;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}
.side-nav:hover {
    overflow-y: auto;
}
.side-nav::-webkit-scrollbar {
   display:none;
}


.side-nav li {
    color: #EEEEEF;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 20px;
    line-height: 40px;
    text-decoration: none;
}
.side-nav li a{
    cursor: pointer;
    display: block;
    color: #EEEEEF;
    background: #2b3036;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.side-nav li a:hover,
.side-nav .selected {
    text-decoration: none;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.side-nav li a:hover {
    background: #3b4246;
}

.side-nav .selected,
.side-nav .selected:hover {
    background: #FFFFFF;
    color: #2b3036;
}

.app-pane {
    padding:25px;
    margin-left:120px;
    background-color: #FFFFFF;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.appView, .scrollOver {
    margin-top:20px;
    height: 75vh;
}
.scrollOver {
    overflow-y:auto;
}

.link-cursor {
    cursor: pointer;
}