html,body {
    width:100%;
    height: 100%;
}

.link-cursor {
    cursor: pointer;
}

span.address {
	text-decoration: underline;
	color: blue;
}

.participantTable td {
	width: 33%;
}

.form-horizontal .control-label{
text-align:left;
}

#side-wrap {
    position: fixed;
    z-index: 10;
    height: 100%;
    background: #2b3036;
    width: 125px;
    overflow:hidden;
}

.side-nav {
    position: fixed;
    width: 125px;
    top: 0;
    left: 0;
    margin-top: 15px;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}
.side-nav:hover {
    overflow-y: auto;
}
.side-nav::-webkit-scrollbar {
   display:none;
}

.side-nav li {
    color: #EEEEEF;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 20px;
    line-height: 40px;
    text-decoration: none;
}
.side-nav li a{
    cursor: pointer;
    display: block;
    color: #EEEEEF;
    background: #2b3036;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.side-nav li a:hover,
.side-nav .selected {
    text-decoration: none;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.side-nav li a:hover {
    background: #3b4246;
}

.side-nav .selected,
.side-nav .selected:hover {
    background: #FFFFFF;
    color: #2b3036;
}

.tabset, .tab-content, .tab-pane, .tabbable {
    height:100%;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-height:80vh;
}

.ui-grid-viewport {
    overflow-x: auto !important;
}

.ui-grid-cell-contents{
    height: auto !important;
    white-space: normal;
    overflow: auto;
}

.grid {
    max-height:80vh;
}

.grid-cell-tmpl{
    padding:5px;
}

.app-pane {
    margin-left:120px;
    background-color: #FFFFFF;
    height: 100%;
    padding: 25px;
}

.app-toolbar, .app-content, .app-details, .app-tab {
    padding:10px;
}

.app-content {
    max-height: 40vh;
    height:100%;
    margin-bottom: 20px;
}

.app-details {
    height: 30vh;
}

.packet-pre, .preWrap {
    box-sizing: content-box;
    white-space: pre-wrap;
    font-size: 0.8em;
}

.packet-pre {
    height: 100%;
}

.preWrap {
    margin: 3px;
    height: 90%;
    padding: 2px;
}

#metricList{
    height:100%;
    font-size: 0.8em;
    overflow-y:scroll;
    border: 1px solid #ddd;
}