<div class="modal-header"><h3>Definition </h3> {{intent.resource}}</div>
<div class="modal-body">
    <span ng-repeat="(key,value) in intent"><b>{{key}}: </b> {{value}}</br></span>
</div>
<hr>
<div class="modal-body">
    <span ng-repeat="child in intent.handlers">
        <div class="btn btn-primary padding" ng-click="openHandler(child)">
            {{child}}
        </div>
    </span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
