
* {
	box-sizing: border-box;
}
.widget {
	border: 2px solid black;
	border-radius: 4px;
}

.widget header {
	background: #999;
	display: block;
	/*font-size: 20px;*/
	line-height: normal;
	padding: 4px 0 6px ;
	cursor: move;
	width: 100%;
}

.widget iframe {
	height: auto;
	width: auto;
	padding: 3px;
	overflow: hidden;
	border: none;
}