<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ozone Platform | IWC | Inter-Window Communication</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery -->
    <script src="{{site.baseurl}}/vendor/bootstrap/js/jquery.js"></script>

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/style/normalize.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/main.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/syntax.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- External JS -->
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</head>
<body>
    {{ content }}
</body>
<script src="/ozp-iwc/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>
