<!DOCTYPE html>
<html ng-app="ozpIwc.debugger">
  <head>
    <title>OZP IWC Debugger</title>
		<link rel="stylesheet" type="text/css" href="css/debugger.css">
		<link rel="stylesheet" href="bootstrap-3.1.1/css/bootstrap.min.css">

		<script src="../../js/ozpIwc-bus.js"></script>
		<script type="text/javascript">
			ozpIwc.defaultLeaderPriority=100;
		</script>
		
		<script src="../../js/bus/defaultWiring.js"></script>

		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="bootstrap-3.1.1/js/bootstrap.min.js"></script>
        
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/ui-bootstrap-tpls.js"></script>
		
        <script src="js/debugger.js"></script>
  </head>
  <body ng-controller="debuggerController">
      
  <tabset>
      <tab heading="Traffic Snooper" ng-controller="packetLogController">
        <div class="btn-group">
            <button class="btn" ng-class="{true:'btn-danger',false:'btn-primary'}[logging]" 
                    btn-checkbox ng-model="logging">Capture({{packets.length}})</button>
            <button class="btn btn-primary" ng-disabled="packets.length === 0" ng-click="packets=[]">Clear</button>
        </div>
        Filter: <input ng-model="filter" type="text" style="width:75%"></input>
        <table>
            <thead><tr>
              <td class="dateString">Time</td>
              <td class="srcPeer">Src Peer</td>
              <td class="sequence">Sequence</td>
              <td class="dst">Destination</td>
              <td class="src">Source</td>
              <td class="msgId">Message ID</td>
              <td class="replyTo">Reply To</td>
              <td class="action">Action</td>
              <td class="resource">Resource</td>
              <td class="contentType">Content Type</td>
            </tr></thead><tbody>
            <tr ng-repeat-start="packet in packets" ng-click="isExpanded = !isExpanded">
              <td class="dateString">{{packet.data.time | date:'yyyy-MM-dd HH:mm:ss.sss'}}</td>
              <td class="srcPeer">{{packet.src_peer}}</td>
              <td class="sequence">{{packet.sequence}}</td>
              <td class="dst">{{packet.data.dst}}</td>
              <td class="src">{{packet.data.src}}</td>
              <td class="msgId">{{packet.data.msgId}}</td>
              <td class="replyTo">{{packet.data.replyTo}}</td>
              <td class="action">{{packet.data.action}}</td>
              <td class="resource">{{packet.data.resource}}</td>
              <td class="contentType">{{packet.data.contentType}}</td>
            </tr>
            <tr ng-repeat-end >
                <td colspan="10" >
                    <pre collapse="!isExpanded">{{ packet | json }}</pre>
                </td>
            </tr>
          </tbody></table>
      </tab>
  
      <tab heading="{{api.address}}" ng-repeat="api in apis" ng-controller="apiDisplayController">
        <table>
            <thead><tr>
              <td>Resource</td>
              <td>Content Type</td>
              <td>Permissions</td>
              <td>Entity</td>
            </tr></thead>
            <tbody>
                <tr ng-repeat="key in keys | orderBy:'resource'">
                    <td>
                        {{key.resource}}
                        <div class="btn-group">
                            <button class="btn-small btn-primary" ng-click="loadKey(key)">
                                {{ {true:"Refresh",false:"Load"}[key.isLoaded]}}
                            </button>
                            
                            <button class="btn-small"
                                    ng-class="{true:'btn-danger',false:'btn-primary'}[key.isWatched]" 
                                    btn-checkbox 
                                    ng-model="key.isWatched" 
                                    ng-click="watchKey(key)">
                                 {{ {true:"Unwatch",false:"Watch"}[key.isWatched]}}
                            </button>
                     </td>
                    <td>{{key.contentType}}</td>
                    <td><pre>{{key.permissions | json}}</pre></td>
                    <td><pre>{{ key.entity | json }}</pre></td>
                </tr>
            </tbody>
        </table>
      </tab>
  </tabset>
  </body>
</html>
